@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* colors */
    --global-color-white: #E4E5E7;
    --global-color-lightblue: #5099CE;
    --global-color-darkblue: #152B81;
    --global-color-black: #545454;
    --global-color-lighlightblue: #8AB8D8;
    --global-color-accentlbue: #254990;

    --global-backGroundColor-black: rgba(84, 84, 84, 0.6);

    /* fonts */
    --global-font-family: 'Poppins', sans-serif;
    /* fontsize */
    --global-fontsize: 1rem; /* 16px */
    --global-fontsize-xs: 0.75rem; /* 12px */
    --global-fontsize-s: 1.25rem; /* 20px */
    --global-fontsize-m: 1.5rem; /* 24px */
    --global-fontsize-l: 2rem; /* 32px */
    --global-fontsize-xl: 3rem; /* 48px */
    --global-fontsize-xxl: 5rem; /* 80px */

    /* spacing */
    --global-spacing: 1rem; /* 16px */
    --global-spacing-xs: 0.5rem; /* 8px */
    --global-spacing-s: 2rem; /* 32px */
    --global-spacing-xl: 4rem; /* 64px */

    /* border radius */
    --global-border-radius: 30px;

    /* box shadows */
    --global-boShadow-black: 10px 10px 30px rgba(84, 84, 84, 0.3);
    --global-boxShadow-rgba: rgba(21, 43, 129, 0.3);
    --global-boxShadow-lblue: 10px 10px 30px rgba(79, 153, 207, 0.3);
    --global-boxShadow-dblue: 10px 10px 30px rgba(21, 42, 127, 0.3);

    /* width */
    --global-width: 90vw;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:focus-visible{
        outline: none;
    }
}

html{
    line-height: 1.5;
}

body{
    background-color: var(--global-color-white);
    font-family: var(--global-font-family);
    color: var(--global-color-darkblue);
    font-weight: 500;
    overflow-x: hidden;
}

h2{
    font-size: var(--global-fontsize-xxl);
}

h3{
    font-size: var(--global-fontsize-l);
    font-weight: 700;
}

h4{
    font-size: var(--global-fontsize-l);
    text-align: center;
}

h5{
    font-size: var(--global-fontsize-m);
    font-weight: 600;
    text-align: center;
}

h6{
    font-size: var(--global-fontsize-s);
    font-weight: 500;
    text-align: center;
}

header{
    min-height: 100vh;
    background-image: url(../assets/img/background.jpg);
    background-position: top;
    background-size: cover;
    color: var(--global-color-white);
    padding-bottom: var(--global-spacing-s);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--global-spacing) 0;
}

label{
    font-size: var(--global-fontsize-s);
    display: block;
    line-height: 2;
}

main{
    padding: var(--global-spacing-xl);
}

/* toggle */
.c-toggle__switch{
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--global-color-white);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.3rem;
    position: relative;
    transition: all .3s;
    &::after{
        content: "";
        background-color: var(--global-color-lightblue);
        width: 1rem;
        height: 1rem;
        position: absolute;        
        top: 0.25rem;
        left: 0.25rem;
        border-radius: 50%;
        transition: all .3s;
    }
}

.c-toggle__checkbox:checked + .c-toggle__switch{
    /* background-color: yellow; */
    &::after{
        margin-left: 1rem;
        background-color: var(--global-color-darkblue);
    }
}

.c-toggle__checkbox{
    display: none;
}

/* algemene */
.c-container{
    width: var(--global-width);
    margin: 0 auto;
}

.c-header__date{
    font-size: var(--global-fontsize-xl);
    font-weight: 700;
}

.c-header__text{
    font-size: var(--global-fontsize-m);
}

/* navigation */
.c-title{
    color: var(--global-color-darkblue);
    font-weight: 700;
    font-size: var(--global-fontsize-l);
    & svg{
        height: var(--global-fontsize-l);
        width: auto;
    }
}

.c-title__radar{
    color: var(--global-color-white);
}

.c-filterbtn{
    color: var(--global-color-darkblue);
    &:focus-visible{
        color: var(--global-color-white);
    }
}

.c-filter{
    background-color: var(--global-color-darkblue);
    min-width: 35rem;
    position: absolute;
    right: 0;
    /* right: -100vw; */
    transform: translateX(100%);
    top: 5rem;
    padding: var(--global-spacing);
    padding-left: calc(var(--global-spacing) * 2);
    border-top-left-radius: var(--global-border-radius);
    border-bottom-left-radius: var(--global-border-radius);
    box-shadow: var(--global-boxShadow-rgba);
    transition: 0.3s all ease-in-out;
    opacity: 0;
    & h5{
        text-align: left;
        line-height: 2;
    }
}

.c-filter__show{
    /* right: 0; */
    opacity: 1;
    transform: translateX(0);
}

/* footer */
.c-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--global-fontsize-xs);
    padding: var(--global-spacing-xs) 0;
}

/* today */
.c-today{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: var(--global-spacing);
    grid-template-areas:
        "date date date weather weather weather"
        "description description description weather weather weather"
        "gras gras boom boom onkruid onkruid";
}

.c-today__filter--1{
    grid-template-areas:
        "date date date date date date"
        "description description description . . ."
        "gras gras chart chart chart chart";
}

.c-today__filter--2{
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "date date date date date date"
    "description1 description1 description1 description2 description2 description2"
    "gras gras chart chart chart chart"
    'boom boom chart chart chart chart';
    
}

.c-today__date{
    grid-area: date;
}

.c-today__description{
    grid-area: description;
}

.c-today__description--1{
    grid-area: description1;
}

.c-today__description--2{
    grid-area: description2;
}

.c-today__weather{
    grid-area: weather;
}

.c-today__graspollen{
    grid-area: gras;
}

.c-today__onkruidpollen{
    grid-area: onkruid;
}

.c-today__boompollen{
    grid-area: boom;
}

.c-today__chart{
    grid-area: chart;
}

/* chart */
.c-chart{
    height: 90%;
    min-height: 20rem;
    display: flex;
    gap: var(--global-spacing);
    align-items: flex-end;
    justify-content: center;
}
.c-chart__bar{
    background-color: var(--global-color-darkblue);
    width: var(--global-spacing-s);
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}
.c-chart__bar--2{
    background-color: var(--global-color-lightblue);
}

.c-chart__percent{
    position: absolute;
    bottom: 1rem;
    transform: rotate(-90deg);
}
.c-chart__group{
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.c-chart__legende{
    display: flex;
    gap: var(--global-spacing-xs);
    justify-content: center;
}

.c-chart__legende--item{
    display: flex;
    align-items: center;
    gap: var(--global-spacing-xs);
}

.c-chart__legende--color{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.c-chart__legende--color1{
    background-color: var(--global-color-darkblue);
}

.c-chart__legende--color2{
    background-color: var(--global-color-lightblue);
}

/* modal */
.c-modal{
    background-color: var(--global-color-darkblue);
    position: fixed;
    top: 0;
    width: calc(100vw - 2 * var(--global-spacing-xl));
    height: calc(100vh - 2 * var(--global-spacing-xl));
    margin: var(--global-spacing-xl);
    padding: var(--global-spacing-s);
    overflow-y: auto;
    color: var(--global-color-white);
    border-radius: var(--global-border-radius);
    box-shadow: var(--global-boxShadow-dblue);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    visibility: hidden;
}

.c-modal__filter--1{
    grid-template-areas:
    "date date date card1 card1 card1"
    "description description description card1 card1 card1"
    "weather weather weather weather weather weather";
    height: auto;
}

.c-modal__filter--2{
    grid-template-areas:
    "date date date weather weather weather"
    "description description description weather weather weather"
    "card1 card1 card1 card2 card2 card2";
}

.c-modal__1{
    grid-area: card1;
}

.c-modal__2{
    grid-area: card2;
}

.c-modal__show{
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
}

.c-modal__close{
    position: absolute;
    top: var(--global-spacing);
    right: var(--global-spacing);
    cursor: pointer;
    color: var(--global-color-white);
    &:focus-visible{
        color: var(--global-color-lightblue);
    }
}

.c-modal::-webkit-scrollbar {
    display: none;
}
/* card */
.c-card{
    padding: var(--global-spacing-s);
    border-radius: var(--global-border-radius);
    display: flex;
    flex-direction: column;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 10rem auto;
    gap: var(--global-spacing);
}

.c-card__flex{
    justify-content: center;
}

.c-card__gras{
    background-image: url(../assets/svg/grass_dblue.svg);
}

.c-card__boom{
    background-image: url(../assets/svg/boom_dblue.svg);
}

.c-card__onkruid{
    background-image: url(../assets/svg/onkruid_dblue.svg);
}

.c-card__gray{
    box-shadow: var(--global-boxShadow-black);
    background-color: var(--global-backGroundColor-black);
    & .c-gauge__cover{
        background-color: var(--global-color-black);
    }
}

.c-card__blue{
    box-shadow: var(--global-boxShadow-black);
    background-color: var(--global-color-accentlbue);
    & .c-gauge__cover{
        background-color: var(--global-color-accentlbue);
    }
    & .c-gauge__pin{
        background-color: var(--global-color-white);
    }
    & .c-gauge__pin::after{
        background-color: var(--global-color-white);
    }
}

/* weather */
.c-weather{
    display: flex;
    /* gap: var(--global-spacing); */
    align-items: center;
    justify-content: space-evenly;
}

.c-weather__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--global-spacing-xs);
}

/* gauge */
.c-gauge {
    width: 100%;
    max-width: 15rem;
    margin: 0 auto;
}

.c-gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.c-gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    border-bottom-right-radius: 100% 200%;
    border-bottom-left-radius: 100% 200%;
    transform-origin: center top;
    transition: transform 0.2s;
}

.c-gauge__fill--low {
    background-color: green;
    transform: rotate(0.15turn);
}

.c-gauge__fill--medium {
    background-color: orange;
    transform: rotate(0.35turn);
}

.c-gauge__fill--high {
    background-color: red;
    transform: rotate(0.5turn);
}

.c-gauge__cover{
    width: 75%;
    height: 150%;
    background-color: var(--global-color-lighlightblue);
    position: absolute;
    border-radius: 50%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.c-gauge__pin{
    background-color: var(--global-color-darkblue);
    width: 0.3rem;
    border-radius: 30px;
    height: 90%;
    position: absolute;
    bottom: calc(0% + 0.5rem / 2);
    left: 50%;
    transform: translateX(-50%);
    transform: rotate(55deg);
    transform-origin: center bottom;
}
.c-gauge__pin::after{
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--global-color-darkblue);
}

/* scroll */
.c-scroll{
    display: flex;
    gap: 1rem;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type:  x mandatory;
    min-height: 20rem;
    align-items: stretch;
    padding: var(--global-spacing-s) 0;
    /* margin-left: 2rem;    */
}

.c-scroll::-webkit-scrollbar{
    /* height: 5px; */
    display: none;
}

/* .c-scroll::-webkit-scrollbar-track{
    background-color: transparent;
}

.c-scroll::-webkit-scrollbar-thumb{
    background-color: yellow;
    border-radius: 20px;
    margin: 0.5rem;
} */

.c-scroll__item{
    font-family: inherit;
    color: inherit;
    text-align: left;
    background-color: var(--global-color-lighlightblue);
    border-radius: var(--global-border-radius);
    box-shadow: var(--global-boxShadow-lblue);
    min-width: calc(100% / 2.5);
    scroll-snap-align: start;
    border: none;
    cursor: pointer;
    /* margin: 0.5rem;           */
    padding: var(--global-spacing-s);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: var(--global-spacing);
    grid-template-areas:
        "title title title"
        "description description description"
        "gras boom onkruid";
    &:focus-visible{
        border: 2px solid var(--global-color-darkblue) !important;
    }
}

.c-scroll__item--filter1{
    grid-template-areas:
    "title title title"
    "description description description"
    "card card card";
}
.c-scroll__item--filter2{
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "title title title title"
    "description description description description"
    "card card card2 card2";
}

.c-forecast__title{
    grid-area: title;
}

.c-forecast__description{
    grid-area: description;
}

.c-forecast__gras{
    grid-area: gras;
}

.c-forecast__onkruid{
    grid-area: onkruid;
}

.c-forecast__boom{
    grid-area: boom;
}

.c-forecast__1{
    grid-area: card;
}

.c-forecast__2{
    grid-area: card2;
}

.c-forecast__gauge{
    display: flex;
    flex-direction: column;
    gap: var(--global-spacing-xs);
    align-items: center;
}

/* utilities */

.u-resetbutton{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    outline: none;
}

.u-hidden{
    display: none;
}