/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* Container with */
    --global-container-width: 95vw;

    /* fonts */
    --global-fontFamily: 'Poppins', sans-serif;
    /* fontsize */
    --global-fontSize: 1rem;
    --global-fontSize-xs: 0.75rem;
    --global-fontSize-s: 1rem;
    --global-fontSize-m: 1.1rem;
    --global-fontSize-l: 1.2rem;
    --global-fontSize-xl: 1.5rem;
    --global-fontSize-xxl: 2.5rem;

    /* spacing */
    --global-spacing: 1rem;
    --global-spacing-xs: 0.5rem;
    --global-spacing-s: 2rem;
    --global-spacing-m: 3rem; 
    --global-spacing-xl: 4rem;

    /* border radius */
    --global-borderRadius: 30px;

    /* colors */
    --global-color-whitewhite: white;
    --global-color-white: #FAFAFA;
    --global-color-lightblue: #5099CE;
    --global-color-darkblue: #1F4068;
    --global-color-darkblue-rgba50: rgba(31, 64, 104, 0.5);

    /* box shadow */
    --global-boxShadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    --global-boxShadow-lg: 0px 0px 10px rgba(0, 0, 0, 0.2);
    --global-boxShadow-hover: 0px 0px 20px rgba(0, 0, 0, 0.2);

    /* Transition */
    --global-transition: all 0.3s ease;
}

@media screen and (min-width: 48rem) {
    :root{
        --global-container-width: 90vw;

        --global-fontSize-s: 1.1rem;
        --global-fontSize-m: 1.15rem;
        --global-fontSize-l: 1.2rem;
        --global-fontSize-xl: 2rem;
        --global-fontSize-xxl: 3.5rem;
    }
}

@media screen and (min-width: 64rem) {
    :root{
        --global-container-width: 85vw;

        --global-fontSize-s: 1.15rem;
        --global-fontSize-m: 1.2rem;
        --global-fontSize-l: 1.3rem;
        --global-fontSize-xl: 2rem;
        --global-fontSize-xxl: 4rem;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        display: none;
    }

    100% {
        opacity: 1;
        display: block;
    }
}
  
@keyframes fade-out {
    0% {
        opacity: 1;
        display: block;
    }

    100% {
        opacity: 0;
        display: none;
    }
}
/*---------------------------------------/*
 # GENERIC
/*---------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection{
    background-color: var(--global-color-lightblue);
    color: var(--global-color-white);
}

html{
    line-height: 1.5;
    background-color: var(--global-color-white);
    font-family: var(--global-fontFamily);
    color: var(--global-color-darkblue);
    font-weight: 500;
}

body{
    position: relative;
    overflow-x: hidden;
}

/*---------------------------------------/*
 # ELEMENTS
/*---------------------------------------*/
button{
    all: unset;
    cursor: pointer;
}

main{
    padding: var(--global-spacing-xl) 0;
}

h2{
    font-size: var(--global-fontSize-xxl);
    color: var(--global-color-lightblue);
}

h3{
    font-size: var(--global-fontSize-l);
    font-weight: 700;
}

h4{
    font-size: var(--global-fontSize-l);
    text-align: center;
}

h5{
    font-size: var(--global-fontSize-m);
    font-weight: 600;
    text-align: center;
}

h6{
    font-size: var(--global-fontSize-s);
    font-weight: 500;
    text-align: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--global-spacing) 0;
}

label{
    all: unset;
    font-size: var(--global-fontsize-s);
    display: block;
    line-height: 2.5;
    cursor: pointer;
}

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/
.o-container{
    max-width: var(--global-container-width);
    margin: 0 auto;
    padding: 0 1rem;
}

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
/* Navigation */
.c-title{
    color: var(--global-color-darkblue);
    font-weight: 700;
    font-size: var(--global-fontSize-l);
    & svg{
        height: var(--global-fontSize-l);
        width: auto;
    }
}

.c-title__radar{
    color: var(--global-color-lightblue);
}

.c-filterbtn{
    color: var(--global-color-darkblue);
    z-index: 3000;
    & svg{
        height: var(--global-fontSize-l);
        width: auto;
        transition: var(--global-transition);
    }
    &:focus-visible{
        & svg{
            filter: drop-shadow(0 0 .2rem var(--global-color-lightblue));
            transform: scale(1.2);
        }
    }
    &:hover{
        & svg{
            filter: drop-shadow(0 0 .2rem var(--global-color-lightblue));
            transform: scale(1.2);
        }
    }
}

/* Filter */
.c-filter{
    background-color: var(--global-color-whitewhite);
    min-width: 20rem;
    max-width: 25rem;
    position: absolute;
    right: 0;
    top: 5rem;
    padding: var(--global-spacing);
    padding-left: calc(var(--global-spacing) * 2);
    border-top-left-radius: var(--global-borderRadius);
    border-bottom-left-radius: var(--global-borderRadius);
    box-shadow: var(--global-boxShadow);
    transition: var(--global-transition);
    opacity: 0;
    transform: translateX(100%);
    & h5{
        text-align: left;
        line-height: 2;
    }
}

.c-filter__show{
    opacity: 1;
    transform: translateX(0);
}

@media screen and (min-width: 48rem) {
    .c-filter{
        min-width: 25rem;
        max-width: 30rem;
    }
}

@media screen and (min-width: 64rem) {
    .c-filter{
        min-width: 35rem;
        max-width: 40rem;
    }
}

/* Toggle */
.c-toggle{
    transition: var(--global-transition);
    &:focus-visible{
        & .c-toggle__switch{
            box-shadow: 0 0 0 0.2rem var(--global-color-darkblue-rgba50);
        }
    }
    &:hover{
        & .c-toggle__switch{
            box-shadow: 0 0 0 0.2rem var(--global-color-darkblue-rgba50);
        }
    }
}

.c-toggle__switch{
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--global-color-lightblue);
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
    position: relative;
    transition: var(--global-transition);
    &::after{
        content: "";
        background-color: var(--global-color-white);
        width: 1rem;
        height: 1rem;
        position: absolute;    
        scale: 1.2;    
        top: 0.25rem;
        left: 0.25rem;
        border-radius: 50%;
        transition: var(--global-transition);
    }
}

.c-toggle__checkbox:checked + .c-toggle__switch{
    &::after{
        margin-left: 1.5rem;
        scale: 2;
        background-color: var(--global-color-darkblue);
    }
}

.c-toggle__checkbox{
    display: none;
}

/* Chart */
.c-chart{
    max-width: 100%;
    height: 90%;
    min-height: 20rem;
    display: flex;
    gap: var(--global-spacing);
    align-items: flex-end;
    justify-content: center;
}

.c-chart__bar{
    background-color: var(--global-color-darkblue);
    width: var(--global-spacing-s);
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;
}
.c-chart__bar--2{
    background-color: var(--global-color-lightblue);
}

.c-chart__percent{
    color: var(--global-color-white);
    position: absolute;
    bottom: 1rem;
    transform: rotate(-90deg);
}
.c-chart__group{
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.c-chart__legende{
    display: flex;
    gap: var(--global-spacing-xs);
    justify-content: center;
}

.c-chart__legende--item{
    display: flex;
    align-items: center;
    gap: var(--global-spacing-xs);
}

.c-chart__legende--color{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.c-chart__legende--color1{
    background-color: var(--global-color-darkblue);
}

.c-chart__legende--color2{
    background-color: var(--global-color-lightblue);
}

/* Overview */
.c-overview{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-gap: var(--global-spacing);
    grid-template-areas:
        "date date date date date date"
        "description description description description description description"
        "weer weer weer weer weer weer"
        "grass grass grass grass grass grass"
        "boom boom boom boom boom boom"
        "onkruid onkruid onkruid onkruid onkruid onkruid";
}

.c-filter1{
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
    "date date date date date date"
    "description description description description description description"
    "gauge1 gauge1 gauge1 gauge1 gauge1 gauge1"
    "chart chart chart chart chart chart";
}

.c-filter2{
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    "date date date date date date"
    "description description description description description description"
    'description2 description2 description2 description2 description2 description2'
    "gauge1 gauge1 gauge1 gauge2 gauge2 gauge2"
    "chart chart chart chart chart chart";
}

@media screen and (min-width: 48rem) {
    .c-overview{
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
            "date date date date date date"
            "description description description description description description"
            "weer weer weer weer weer weer"
            "grass grass grass boom boom boom"
            "onkruid onkruid onkruid onkruid onkruid onkruid";
    }

    .c-filter1{
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "date date date date date date"
        "description description description description description description"
        "gauge1 gauge1 chart chart chart chart"
        "gauge1 gauge1 chart chart chart chart";
    }

    .c-filter2{
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "date date date date date date"
        "description description description description description description"
        'description2 description2 description2 description2 description2 description2'
        "gauge1 gauge1 gauge1 gauge2 gauge2 gauge2"
        "chart chart chart chart chart chart";
    }
}

@media screen and (min-width: 64rem) {
    .c-overview{
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "date date date weer weer weer"
            "description description description weer weer weer"
            "grass grass boom boom onkruid onkruid";
    }
    .c-filter1{
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "date date date date date date"
        "description description description description description description"
        "gauge1 gauge1 chart chart chart chart"
        "gauge1 gauge1 chart chart chart chart";
    }

    .c-filter2{
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
        "date date date date date date"
        "description description description description2 description2 description2"
        "gauge1 gauge1 chart chart chart chart"
        "gauge2 gauge2 chart chart chart chart";
    }
}

.c-overview__date{
    font-size: var(--global-fontSize-xl);
    font-weight: 700;
    grid-area: date;
}

.c-overview__description{
    grid-area: description;
}

.c-overview__description2{
    grid-area: description2;
}

.c-overview__grass{
    grid-area: grass;
}

.c-overview__boom{
    grid-area: boom;
}

.c-overview__onkruid{
    grid-area: onkruid;
}

.c-overview__text{
    font-size: var(--global-fontSize-l);
}

.c-overview__weather{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    grid-area: weer;
}

.c-overview__weatheritem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--global-spacing-xs);
}

.c-overview__card{
    border-radius: var(--global-borderRadius);
    padding: var(--global-spacing-s);
    display: flex;
    flex-direction: column;
    gap: var(--global-spacing);
    background-size: 10rem auto;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-color: var(--global-color-whitewhite);
    box-shadow: var(--global-boxShadow);
}

/* Gauge */
.c-gauge {
    width: 100%;
    max-width: 15rem;
    margin: 0 auto;
}

.c-gauge__body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.c-gauge__fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    border-bottom-right-radius: 100% 200%;
    border-bottom-left-radius: 100% 200%;
    transform-origin: center top;
    transition: var(--global-transition);
}

.c-gauge__fill--low {
    background-color:  #4CAF50;
    transform: rotate(56deg);
}

.c-gauge__fill--medium {
    background-color: #FFC107;
    transform: rotate(124deg);
}

.c-gauge__fill--high {
    background-color: #FF5733;
    transform: rotate(180deg);
}

.c-gauge__cover{
    width: 75%;
    height: 150%;
    background-color: var(--global-color-whitewhite);
    position: absolute;
    border-radius: 50%;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.c-gauge__pin{
    background-color: var(--global-color-darkblue);
    width: 0.3rem;
    border-radius: 30px;
    height: 90%;
    position: absolute;
    bottom: calc(0% + 0.5rem / 2);
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center bottom;
}
.c-gauge__pin::after{
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--global-color-darkblue);
}

.c-filter__gauge1{
    grid-area: gauge1;
    justify-content: center;
}

.c-filter__gauge2{
    grid-area: gauge2;
    justify-content: center;
}

.c-filter__chart{
    grid-area: chart;
}

/* Scroll */
.c-scroll{
    position: relative;
}

.c-scroll__container{
    padding: var(--global-spacing-s) 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: none;
}


.c-scroll__container::-webkit-scrollbar{
    display: none;
}

.c-scroll__item{
    font-family: inherit;
    color: inherit;
    text-align: left;
    background-color: var(--global-color-whitewhite);
    border-radius: var(--global-borderRadius);
    border: 2px solid var(--global-color-whitewhite);
    max-width: 100%;
    box-shadow: var(--global-boxShadow);
    scroll-snap-align: start;
    padding: var(--global-spacing-s);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: var(--global-spacing);
    grid-template-areas:
        "title"
        "description"
        "item1"
        "item2"
        "item3";
    transition: var(--global-transition);
    &:focus-visible{
        border: 2px solid var(--global-color-lightblue);
        box-shadow: var(--global-boxShadow-hover);
    }
    &:hover{
        border: 2px solid var(--global-color-lightblue);
        box-shadow: var(--global-boxShadow-hover);
    }
}

.c-scrollfilter1{
    & .c-scroll__item{
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
        "title"
        "description"
        "item1";        
    }
}

.c-scrollfilter2{
    & .c-scroll__item{
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        "title"
        "description"
        "item1"
        "item2";        
    }
}

.c-scroll__arrow{
    background-color: var(--global-color-whitewhite);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--global-boxShadow);
    position: absolute;
    transition: var(--global-transition);
    border: 2px solid var(--global-color-whitewhite);
    & svg{
        width: 70%;
        height: auto;
    }
    &:focus-visible{
        border: 2px solid var(--global-color-lightblue);
        box-shadow: var(--global-boxShadow-hover);
    }
    &:hover{
        border: 2px solid var(--global-color-lightblue);
        box-shadow: var(--global-boxShadow-hover);
    }
}

.c-scroll__arrow--next{
    right: 0;
    top: 50%;
    transform: translateX(50%) translateY(50%);
    rotate: -90deg;
}

.c-scroll__arrow--prev{
    left: 0;
    top: 50%;
    transform: translateX(-50%) translateY(50%);
    rotate: 90deg;
}

@media screen and (min-width: 35rem) {
    .c-scroll__item{
        grid-template-columns: repeat(3, 8rem);
        grid-template-rows: repeat(3, auto);
        grid-gap: var(--global-spacing);
        grid-template-areas:
            "title title title"
            "description description description"
            "item1 item2 item3";
    }
    .c-scrollfilter1{
        & .c-scroll__item{
            grid-template-areas:
            "title title title"
            "description description description"
            ". item1 .";
        }
    }
    .c-scrollfilter2{
        & .c-scroll__item{
            grid-template-columns: repeat(4, 6rem);
            grid-template-areas:
            "title title title title"
            "description description description description"
            "item1 item1 item2 item2";
        }
    }
}

@media screen and (min-width: 48rem) {
    .c-scroll__container{
        flex-direction: row;
        overflow-x: scroll;
        scroll-behavior: smooth;
        scroll-snap-type:  x mandatory;
        min-height: 20rem;
        align-items: stretch;    
    }

    .c-scroll__item{
        grid-template-columns: repeat(3, 8rem);
    }
}

@media screen and (min-width: 64rem) {
    .c-scroll__item{
        grid-template-columns: repeat(3, 10rem);
    }
}

.c-forecast__title{
    grid-area: title;
}

.c-forecast__description{
    grid-area: description;
}

.c-forecast__1{
    grid-area: item1;
}

.c-forecast__3{
    grid-area: item3;
}

.c-forecast__2{
    grid-area: item2;
}

.c-forecast__gauge{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--global-spacing-xs);
    align-items: center;
}

/* Footer */
.c-footer{
    text-align: center;
    font-size: var(--global-fontSize-xs);
    padding: var(--global-spacing-xs) 1rem;
}

@media screen and (min-width: 35rem) {
    .c-footer{
        text-align: left;
        display: flex;
        align-items: center;    
        justify-content: space-between;
    }
}

/* Modal */
.c-modal{
    background-color: var(--global-color-white);
    /* position: sticky; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100vw - 2 * var(--global-spacing-s));
    max-height: calc(100vh - 2 * var(--global-spacing-s));
    min-height: 50vh;
    overflow-y: auto;
    color: var(--global-color-darkblue);
    border-radius: var(--global-borderRadius);
    box-shadow: var(--global-boxShadow-lg);
    padding: var(--global-spacing-s);
    border: none;
    animation: fade-out 0.3s ease-in-out;
}

@media screen and (min-width: 48rem) {
    .c-modal{
        width: calc(100vw - 2 * var(--global-spacing-m));
        max-height: calc(100vh - 2 * var(--global-spacing-m));
    }
}

@media screen and (min-width: 64rem) {
    .c-modal{
        width: calc(100vw - 2 * var(--global-spacing-xl));
        max-height: calc(100vh - 2 * var(--global-spacing-xl));
    }
}

.c-modal__close{
    position: sticky;
    width: 100%;
    text-align: right;
    top: 0;
    color: var(--global-color-darkblue);
    & svg{
        height: var(--global-fontSize-xl);
        width: auto;
        transition: var(--global-transition);
    }
    &:focus-visible{
        & svg{
            filter: drop-shadow(0 0 .1rem var(--global-color-lightblue));
            transform: scale(1.2);
        }
    }
    &:hover{
        & svg{
            filter: drop-shadow(0 0 .1rem var(--global-color-lightblue));
            transform: scale(1.2);
        }
    }
}

.c-modal::-webkit-scrollbar {
    display: none;
}

.c-modal[open]{
    animation: fade-in 0.3s ease-in-out;
}

/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
.u-background__grass{
    background-image: url(../assets/svg/grass.svg);
}

.u-background__boom{
    background-image: url(../assets/svg/boom.svg);
}

.u-background__onkruid{
    background-image: url(../assets/svg/onkruid.svg);
}

.u-hidden{
    display: none;
}